body{
font-family: Arial, sans-serif;
background:#f5f8ff;
}



.announcement-header{

background:
linear-gradient(
135deg,
#1264d8,
#42a5f5
);

color:white;

padding:80px 20px;

}


.announcement-header i{

font-size:70px;

}


.announcement-header h1{

font-size:45px;
font-weight:bold;

}



.filter-box{

margin-top:20px;

}



.filter{

border:none;
padding:10px 25px;
margin:5px;

border-radius:30px;

background:#eee;

}



.filter.active,
.filter:hover{

background:#1264d8;
color:white;

}



.announcement-card{

border:none;

border-radius:20px;

transition:.3s;

}



.announcement-card:hover{

transform:translateY(-8px);

box-shadow:0 15px 30px rgba(0,0,0,.15)!important;

}



.announcement-card h3{

margin-top:15px;

}



.date{

color:#777;

}



footer{

background:#1264d8;

color:white;

padding:30px;

}